* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: all 0.5s ease;
    /* outline: 1px solid goldenrod; */
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

header {
    display: flex;
    position: fixed;
    z-index: 10000;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 14px 160px;
}

header>div>ul {
    display: flex;
    list-style: none;
    gap: 34px;
    color: #617a57;
    font-size: 17px;
    font-weight: 700;
}

header>div>ul>li:hover {
    color: #739864;
    scale: 1.1;
    cursor: pointer;
}

.background-header {
    background-image: url(../assets/asset\ 1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.learnBt {
    background-color: #aac644;
    font-size: 16px;
    color: white;
    padding: 15px 22px;
    line-height: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    border: #aac644 2px solid;
    margin-top: 50px;
    width: 147px;
    cursor: pointer;
}

.learnBt:hover {
    background-color: #aac64400;
    border: #aac644 2px solid;
    color: #aac644;
}

.customer-care {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px;
    text-align: left;
    color: white;
    font-size: 18px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hovers {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #61794a;
    left: 0px;
    cursor: pointer;
}

.hovers:hover {
    background-color: #aac644;
    opacity: 70%;
    filter: brightness();
}

.trans {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.trans>p {
    padding: 0px 20px;
}

input {
    padding: 5px 20px;
    border: none;
}